---
import '@fontsource-variable/onest';
---

<header class="w-full px-4 py-2">
    <ul class="flex gap-6 text-white font-extralight text-lg w-full justify-center">
        <li class="hover:bg-white hover:text-[#6F272B] transition-colors px-4 py-1 rounded-lg duration-300">Youtube</li>
        <li class="hover:bg-white hover:text-[#6F272B] transition-colors px-4 py-1 rounded-lg duration-300">TikTok</li>
        <li class="hover:bg-white hover:text-[#6F272B] transition-colors px-4 py-1 rounded-lg duration-300">Twitter</li>
    </ul>
</header>

<style>
    li {
        font-family: 'Onest Variable', sans-serif;
    }
</style>