---
import '@fontsource-variable/onest';
---

<h1
    class="text-white lg:text-7xl text-5xl text-center font-bold capitalize leading-[3.7rem]"
>
    <span class="text-[#6F272B] bg-white rounded-lg px-2">Youtube</span> video <span
        class="text-transparent bg-clip-text bg-gradient-to-br from-pink-600 to-red-400"
        >downloader</span
    >
</h1>

<style>
    h1 {
        font-family: "Onest Variable", sans-serif;
    }
</style>
